// Colors
$ui-base-color: #202020;
$ui-base-lighter-color: #88882b;
$ui-primary-color: #ffff00;
$ui-secondary-color: #6e6e00;
$ui-highlight-color: #ffff00;
$primary-text-color: #ffffff;

// Import defaults
@import 'application';

.compose-form__publish-button-wrapper button.button {
  color: $ui-base-color;
}

a.column-link.column-link--transparent:hover {
  color: $ui-highlight-color;
}

h1.column-header>button {
  color: $ui-highlight-color;
}

.admin-wrapper div.content h2 {
  color: $ui-highlight-color;
}

.simple_form .block-button,
.simple_form .button,
.simple_form button {
  color: $ui-base-color;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
  color: $ui-base-color;
}

.dashboard__quick-access {
  color: $ui-base-color;
}

.button {
  color: $ui-base-color;
}

.button.logo-button {
  color: $ui-base-color;
}

.simple_form .block-button.negative,
.simple_form .button.negative,
.simple_form button.negative {
  color: $primary-text-color;
}

.getting-started__wrapper .column-link {
  color: $ui-primary-color;
}

.getting-started__wrapper .column-link:hover {
  background-color: $ui-highlight-color;
  color: $ui-base-color;
}

.account__section-headline a.active,
.account__section-headline button.active,
.notification__filter-bar a.active,
.notification__filter-bar button.active {
  color: $primary-text-color;
}

.muted .status__content,
.muted .status__content a,
.muted .status__content p,
.muted .status__display-name strong {
  color: #abab95;
}

.account__section-headline a,
.account__section-headline button,
.notification__filter-bar a,
.notification__filter-bar button {
  color: $ui-secondary-color;
}

.account__section-headline a:hover,
.account__section-headline button:hover,
.notification__filter-bar a:hover,
.notification__filter-bar button:hover {
  color: $ui-primary-color;
}

.account__section-headline a,
.account__section-headline button,
.notification__filter-bar a,
.notification__filter-bar button {
  color: $ui-secondary-color;
}

.account__section-headline a:hover,
.account__section-headline button:hover,
.notification__filter-bar a:hover,
.notification__filter-bar button:hover {
  color: $ui-primary-color;
}
