@use '../mastodon/theme/dark';
@use '../mastodon/theme/utils';
@use '../custom/functions' as *;

// ライトテーマを無視する暫定処理
[data-color-scheme='light'] {
  color-scheme: dark;

  @include dark.tokens;
  @include utils.invert-on-light;

  &[data-contrast='high'],
  [data-contrast='high'] & {
    @include dark.contrast-overrides;
  }
}
// Colors
$classic-base-color: #282828;
$classic-primary-color: #d5c4a1;
$classic-secondary-color: #689d6a;
$classic-highlight-color: #8ec07c;

:root {
  --color-text-primary: #ebdbb2;
  --color-text-secondary: #{$classic-primary-color};
  --color-text-tertiary: #{darken($classic-primary-color, 20)};
  --color-text-brand: #{$classic-highlight-color};

  --color-text-brand-on-inverted: #{$classic-secondary-color};
  --color-text-on-brand-base: #{$classic-base-color};
  --color-text-status-links: #{$classic-highlight-color};

  --color-bg-primary: #{$classic-base-color};
  --color-bg-secondary: #{lighten($classic-base-color, 5)};
  --color-bg-tertiary: #{lighten($classic-base-color, 15)};

  --color-bg-brand-base: #{$classic-highlight-color};
  --color-bg-brand-base-hover: #{$classic-secondary-color};
  --color-bg-brand-soft: #{darken($classic-secondary-color, 20)};
  --color-bg-brand-softest: #{darken($classic-secondary-color, 35)};
}
